.Rproj.user
.Rhistory
.RData
.Ruserdata
Acuity Session Reports/.all participant_acuity_feb20th.csv.icloud
Acuity Session Reports/.schedule2019-09-29.csv.icloud
Acuity Session Reports/.schedule2019-10-21.csv.icloud
Acuity Session Reports/.schedule2019-10-28.csv.icloud
Acuity Session Reports/.schedule2019-11-04.csv.icloud
Acuity Session Reports/.schedule2020-01-20 (1).csv.icloud
Acuity Session Reports/.schedule2020-01-20.csv.icloud
Acuity Session Reports/.schedule2020-01-24.csv.icloud
Acuity Session Reports/.schedule2020-02-13.csv.icloud
Acuity Session Reports/.schedule2020-02-26.csv.icloud
Acuity Session Reports/.schedule2020-03-06.csv.icloud
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/.DS_Store
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 16th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 2nd 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 9th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-16th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-2nd-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-9th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 14th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 21st 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 3rd 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb-14th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb-3rd-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan 24th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan-24th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan-24th-2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 17th 2020 - 2.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 17th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 20th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-17th-2020---2.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-17th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-20th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-20th-2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Test.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Test.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 11th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 18th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 25th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 4th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-11th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Age Visualization-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Overview of Contact Outcomes-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Source of Inquiry and Eligibility-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/unnamed-chunk-3-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-4th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 14th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 21th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 28th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-14th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-21th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-28th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 16 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 23 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 29 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-16-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-23-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-29-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/.DS_Store
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 16th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 2nd 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December 9th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-16th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-2nd-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/December 2019/December-9th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 14th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 21st 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb 3rd 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb-14th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Feb 2020/Feb-3rd-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan 24th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan-24th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Jan-24th-2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 17th 2020 - 2.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 17th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January 20th 2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-17th-2020---2.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-17th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-20th-2020.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/January-20th-2020.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Test.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/Jan 2020/Test.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 11th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 18th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 25th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November 4th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-11th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Age Visualization-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Overview of Contact Outcomes-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/Source of Inquiry and Eligibility-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-18th-2019_files/figure-html/unnamed-chunk-3-1.png
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/November 2019/November-4th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 14th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 21th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October 28th 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-14th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-21th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October-28th-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/October 2019/October.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 16 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 23 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September 29 2019.Rmd
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-16-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-23-2019.html
Recruitment Check/Grant Y1 - Sept 2019 - March 2020/September 2019/September-29-2019.html
*.icloud
